*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar{
    background-color:white;
    padding: 0px;

}

.bg1{
    /* background-color:rgb(248, 223, 191); */
    background-color:rgb(211, 192, 163);
    /* padding: 20px; */

}

.bg-pic{
    background-image:url(image/me.jpg);
}

.font1{
    font-family: 'Caveat', cursive;
}

.font2{
    font-family: 'Kirang Haerang', cursive;
}

.font-brown{
    color:rgb(116, 79, 0);
}

.header-home{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 150px;
    position: absolute;
    color: #fff;
}

.detail-me{
    width: 50%;
    float: left;
    font-size: 25px;
} 

.detail-me h1{
    font-size: 60px;
    font-weight: 100;
    width: 640px;
    position: relative;
    padding-left: 70px;
    padding-bottom: 25px
   
}
.detail-me p{
    font-size: 25px;
    width: 550px;
    position: relative;
    /* padding:30px 0 30px 40px; */
    padding-left: 50px;
    padding-bottom: 25px
    line-height: 35px;
    color: #919191;
}

.pic-home-me{
    height: 50%;
    position: absolute;
    top: 25%;
    /* right: 200px; */
    margin-left: 800px;
    float: right;
    /* display: flex;
    flex-wrap: wrap; */
}

.header-skill{
    width: 80%;
    height: 70%;
    top: 90%;
    left: 150px;
    position: absolute;
    color: #fff;
}
.detail-skill{
    font-size: 25px;
    font-weight:500;
    width: 100%;
    position: relative;
    margin:30px 0 0px 40px;
    line-height: 100px;
    color: #919191;
} 