*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color:white;
    /* background-color: rgb(248, 248, 234);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
     */
}

.pointnav a{
    transition: color .4s ease;
}
    
.pointnav a:hover {
    color:rgb(116, 79, 0);
}
/* 
.bg1{
    background-color: rgb(189, 209, 197);
} */
/* .hover-fx {
    font-size: 36px;
    display: inline-block;
    cursor: pointer;
    margin: 15px;
    width: 80px;
    height: 80px;
    line-height: 84px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
  } */
.hover-box{
    transition: 0.5s ;
}
  
.hover-box:hover{
    transform: scale(1.05);
}  
.hover-text{
    transition: 0.5s ;
}
  
.hover-text:hover{
    transform: scale(1.2);
}
.hover-fx{
    transition: 0.5s ;
}
  
.hover-fx:hover{
    transform: scale(1.1);
}

.font1{
    font-family: 'Caveat', cursive;
}

.font2{
    font-family: 'Kirang Haerang', cursive;
}

.font-color{
    /* color:rgb(116, 79, 0); */
    color: rgb(115, 158, 132);
}


.title{
    color: rgb(120, 90, 46);
    opacity: .7;
    font-weight: 300;
    font-size: 40px;
    /* padding-left: 100px; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.title span{
    color: rgb(120, 90, 46);
    font-weight: 500;
    font-size: 60px;
}

.name{
    /* margin-left: 180px; */
    font-size: 60px;
    /* padding-top: 30px; */
    color:rgb(77, 67, 34);
    opacity: .8;
    font-weight: 400;
    text-align: center;
}

.detail-me{
    font-family: 'Jost', sans-serif;
    /* margin-left: 150px ; */
    margin-top: 20px;
    font-size:27px;
    width: 100%;
    font-weight:500;
    color: rgb(120, 90, 46);
    text-align: left;
    text-indent: 50px;
    padding-right: 20px;
}
.containimage{
    padding-top:50px;
    width: 60%;
    height:fit-content;
    opacity: .9;
    display: flex;
    justify-content: center;
}
.colorbg{
    background-color: rgb(173, 162, 126);
}
.skill{
    /* margin-top:130px; */
    /* margin-left:250px; */
    text-align: left;
}

.titleSkill{
    font-family: 'Satisfy', cursive;
    /* color:rgb(116, 79, 0); */
    color: rgb(120, 90, 46);
    font-size: 35px;
    text-transform:capitalize;
    line-height: 3rem;
}

.headskill{
    margin-top: 30px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: rgb(120, 90, 46);
}

.scriptskill{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 25px;
    text-align: center;
    color:rgb(145, 126, 66);
    margin-top: 5px;
}
.part2 .detail-skill{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 60px;
}

.part2 .detail-skill .box{
    width: 300px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
}

.part2 .detail-skill .box .skillpicbox{
   position:relative;
   width: 100%;
   height: 300px;
}    

.part2 .detail-skill .box .skillpicbox img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part2 .detail-skill .box {
    padding: 15px 0 5px;
}

.part2 .detail-skill .box h3{
    font-weight: 100;
    text-align: center;
    padding-top: 10px;
}

.part2 .detail-skill .box p{
    font-weight: 100;
    padding-top:10px;
    padding-left: 20px;
}