/* experience-text */
h1 {
    text-align: center;
    margin-top: 70px;
}

/* experience-detail */
.experience-1{
    border-left: 6px solid red;
    background-color: lightgrey;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    padding-left: 150px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .experience-2{
    border-left: 6px solid red;
    background-color: lightgrey;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 70px;
    padding-left: 150px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .experience-3{
    border-left: 6px solid red;
    background-color: lightgrey;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 70px;
    padding-left: 150px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .experience-4{
    border-left: 6px solid red;
    background-color: lightgrey;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 70px;
    margin-bottom: 200px;
    padding-left: 150px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }