.navbar{
    background-color:white;
    padding: 0px;

}

.bg1{
    /* background-color:rgb(248, 223, 191); */
    background-color:rgb(211, 192, 163);
}

.font1{
    font-family: 'Caveat', cursive;
}

.font2{
    font-family: 'Kirang Haerang', cursive;
}

.font-brown{
    color:rgb(116, 79, 0);
}
